#cities ul li{
    display: none;
  }

  #cities:hover ul li{
    display: block;
  }

  #cities a.active ul li{
    display: block;
  }

  button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
  }
  